    <footer>
      <a href="#">Ochrana osobních údajů</a>
      <p>&copy; Všechna práva vyhrazena ceskyhytale.cz |
        Built and designed with ❤️ by <a href="https://github.com/rixcian" target="_blank">rixcian</a>
      </p>
    </footer>

    <script src="/js/index.js"></script>
    <script>
        function openSocky(socka) {
            switch (socka) {
                case 'ig':
                    window.open('https://www.instagram.com/HytaleGame/', '_system');
                default:
                    break;
            }
        }
    </script>
  </body>
</html>