<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Český Hytale | <%= title %> </title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="/img/favicon/favicon_x32.png"
    />
    <link rel="apple-touch-icon" href="/img/favicon/favicon_x32.png" />
    <link rel="stylesheet" href="/css/grid/grid.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link href="/css/fontawesome/css/all.min.css" rel="stylesheet" />
</head>
<body>

<!-- Mobile Menu -->
<div class="mobile-menu">
  <ul>
    <li class="menu-item menu-brand">
        <div class="mobile-menu-header">
            <a href="/">
                <picture>
                    <source srcset="/img/logo/logo.webp" type="image/webp" />
                    <source srcset="/img/logo/logo.png" type="image/png" />
                    <img src="/img/logo/logo.png" alt="Hytale Logo" />
                </picture>
            </a>
            <i class="fas fa-times" id="menu-icon-exit"></i>
        </div>  
    </li>
    <li><a href="#">blog</a></li>
    <li><a href="#">server</a></li>
    <li><a href="#">fórum</a></li>
    <li><a href="#">přihlášení</a></li>
  </ul>
</div>
<!-- /Mobile Menu -->