<div class="col-4">
  <div class="sub-section">
    <h3 class="section-heading">sociální sítě</h3>
    <div class="heading-underline"></div>
    <div class="social-wrapper">
      <div class="social-icon">
        <img
            src="/img/icons/facebook.svg"
            alt="Facebook Český Hytale"/>
      </div>
      <div class="social-icon" onclick="openSocky('ig')">
        <img
            src="/img/icons/instagram.svg"
            alt="Instagram Český Hytale"/>
      </div>
      <div class="social-icon">
        <img
            src="/img/icons/twitter.svg"
            alt="Twitter Český Hytale"/>
      </div>
      <div class="social-icon">
        <img
            src="/img/icons/discord.svg"
            alt="Discord Český Hytale"/>
      </div>
    </div>
  </div>

  <div class="sub-section hosting-section">
    <h3 class="section-heading">hytale hosting</h3>
    <div class="heading-underline"></div>
    <a href="#">
      <picture>
        <source
          srcset="/img/banner/hosting_banner.webp"
          type="image/webp"
        />
        <source
          srcset="/img/banner/hosting_banner.jpg"
          type="image/jpg"
        />
        <img
          class="hosting-banner"
          src="/img/banner/hosting_banner.jpg"
          alt="HostujHytale"
        />
      </picture>
    </a>
  </div>
</div>